{{ if .Site.Params.homepage.showRecent | default false }}
  <h2 class="mt-8 text-2xl font-extrabold">{{ i18n "shortcode.recent_articles" | emojify }}</h2>
  {{ range first .Site.Params.homepage.recentLimit (.Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) .Site.Params.homepage.recentLimit).Pages }}
    {{ partial "article-link.html" . }}
  {{ end }}
{{ end }}
<article class="mt-6 flex max-w-prose flex-row">
  <div class="flex-none pe-4 sm:pe-6 ">
    <h3 class="flex items-center text-xl font-semibold">
      <a class="text-neutral-800 decoration-primary-500 hover:underline hover:underline-offset-2 dark:text-neutral" href="/blog/">Read more</a>
    </h3>
  </div>
</article>
